*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background-color: transparent;
}
a{
    text-decoration: none;
}

ol,ul,li{
    list-style: none;
}

.hidden{
    display:none;
}

.floatClear::after{
    content:"";
    display:block;
    clear:both;
}