*{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    background-color: transparent;
    vertical-align: top;
}
a{
    text-decoration: none;
    color:black;
}

ol,ul,li{
    list-style: none;
}

.a11y-hidden{
    position: absolute;
    overflow: hidden;
    width: 1px;
    height:1px;
    padding-top:1px;
}

.clearfix::after{
    content:"";
    display:block;
    clear:both;
}