header{
    position:fixed;
    top:0;
    width:100%;
    height:130px;
    background-color : white;
    padding: 30px 50px;
    box-sizing: border-box;
}

.logoCont{
    float:left;
    width:90px;
}

.logoBt{
    display: block;
}

.logoBt>img{
    width:90px;
}

.hereBtCont{
    float:right;
}

a.hereBt{
    font-size:11px;
    font-weight:900;
    color: #055cf5;
    line-height:7;
    letter-spacing: 1px;
}

#sec1{
    height:722px;
    background-size: cover, auto;
    background-image: url("https://global-uploads.webflow.com/5dca6326f628e03041212a3f/5df886d4143ebc2faa0b4b01_GettyImages-a10685150.jpg");
    margin-top:130px;
}

#sec1>div{
    height:722px;
    background-color: rgba(0,0,0,0.25);
    color:#fff;
    font-size:60px;
    text-align:center;
    padding: 180px;
    box-sizing: border-box;
}

#sec2{
    width:100%;
    max-width:940px;
    margin:0 auto;
}

.menuCont{
    margin:40px 0;
}

.menu-ul>li{
    float:left;
    width:12.5%;
}

.menuBt{
    display:block;
    width:100%;
    font-weight:bold;
    line-height:2;
    text-align:center;
    padding:9px;
    box-sizing: border-box;
}

.menuBt:hover{
    padding-bottom:7.5px;
    color:#32343a;
    border-bottom:1.5px solid #32343a;
    opacity:0.5;
}