@charset "utf-8";

/* Header */
header{
    z-index: 2;
    position:fixed;
    top:0;
    width:100%;
    height:130px;
    background-color : white;
    padding: 30px 50px;
    box-sizing: border-box;
}

/* Header Logo */
.header__logo{
    float:left;
    width:90px;
}

.header__logo a{
    display: block;
}

.header__logo img{
    width:90px;
}

/* Header Navigation */
.header__gotop{
    float:right;
    width:90px;
    font-size:11px;
    font-weight:900;
    color: #055cf5;
    line-height:71px;
    letter-spacing: 1px;
    text-align: center;
}

/* Visual */
.visual{
    background-size: cover, auto;
    background-image: url("https://global-uploads.webflow.com/5dca6326f628e03041212a3f/5df886d4143ebc2faa0b4b01_GettyImages-a10685150.jpg");
    margin-top:130px;
}

.visual__text--bgcover{
    height:722px;
    background-color: rgba(0,0,0,0.25);
    color:#fff;
    font-size:60px;
    text-align:center;
    padding: 180px;
    box-sizing: border-box;
}

main{
    margin-top:130px;
}

main{
    width:100%;
    max-width:940px;
    margin:0 auto;
}

.main__tablist{
    display:flex;
    justify-content: space-evenly;
    margin:40px 0 20px;
}

.main__tablist-item{
    display:block;
    width:100%;
    font-weight:bold;
    line-height:2;
    text-align:center;
    padding:9px;
    box-sizing:border-box;
}

.main__tablist-item[aria-selected="true"] , .main__tablist-item:hover{
    padding-bottom:7.5px;
    color:#32343a;
    border-bottom:1.5px solid #32343a;
    opacity:0.5;
}

.main__panel{
    display:none;
}

.tabpanel__list{
    display:flex;
    flex-flow: row wrap;
    margin:10px 0;
}

.tabpanel__list-item{
    width:31%;
    text-align: center;
    margin:15px 1.16%;
}

.tabpanel__list-item a{
    display:block;
}

/* item 내부 div,p 예제 */
.tabpanel__list-item div{
    height:210px;
    position: relative;
    overflow: hidden;
}

.tabpanel__list-item div img{
    height:100%;
    position: relative;
    left:50%;
    margin-left:-100%;
}

.tabpanel__list-item p{
    font-size:20px;
    margin:10px;
}

.tabpanel__list-item a:hover div, .tabpanel__list-item a:focus div{
    background-color: black;
}

.tabpanel__list-item a:hover img, .tabpanel__list-item a:focus img{
    opacity: .8;
}

.tabpanel__list-item a:hover p, .tabpanel__list-item a:focus p{
    color:#32343a;
    font-weight: 600;
}

/* item 내부 figure 예제 */
.tabpanel__list-item figure{
    z-index: 0;
    position: relative;
}

.tabpanel__list-item figure img{
    width:100%;
    margin:0;
}
.tabpanel__list-item figcaption{
    display:block;
    font-size:20px;
    margin:10px;
}

.tabpanel__list-item a:hover figure::after, .tabpanel__list-item a:focus figure::after{
    z-index: -1;
    content: "";
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:84%;
    background-color:black;
}

.tabpanel__list-item a:hover figcaption, .tabpanel__list-item a:focus figcaption{
    color:#32343a;
    font-weight: 600;
}

/* p,img 위치 스왑 예제 */
#door-window-panel .tabpanel__list-item a{
    display:flex;
    flex-flow:column nowrap;
}

#door-window-panel .tabpanel__list-item p{
    order:2;
}

/* 푸터  */
footer{
    border-top:1px solid #aaa;
    padding:40px 50px;
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
}

footer, footer a{
    color:rgba(50,52,58,0.5);
}
footer a:hover, footer a:focus{
    color:rgba(50,52,58,1);
}

footer>a{
    margin-right:8px;
}

footer li{
    display:inline-block;
}


footer>a ,footer li a{
    padding:5px;
}

address{
    order:-1;
    width:40%;
    margin-right:auto;
    vertical-align: top;
    font-size: 0.8rem;
}

address{
    vertical-align: top;
}

address span{
    white-space: unset;
    margin-right:0.5em;
}

address span::after{
    content:"";
    display:inline-block;
    width:1px;
    height:0.8em;
    border-right:1px solid #aaa;
    margin-left:0.5em;
}

address span:last-child::after{
    display:none;
}
